<!DOCTYPE HTML>
<html>
<head>
    <title>코로나 관련 정보 알리미 </title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" onClick="location.href='/'">코로나 정보 알리미</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="text-muted"><a class="nav-item nav-link" onClick="location.href='corona_moim'">모임가능인원 계산기</a></span>                
        </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="text-muted"> <a class="nav-item nav-link" onClick="location.href='location_search'">장소별 코로나 관련 유의사항</a></span>                
        </button>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="text-muted"> <a class="nav-item nav-link" href="https://m.blog.naver.com/mohw2016/222552369172" target="_blank">보건복지부 블로그 링크</a></span>                
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" onClick="location.href='corona_moim'">모임가능인원 계산기</a>
                <a class="nav-item nav-link" onClick="location.href='location_search'">장소별 코로나 관련 유의사항</a>
                <a class="nav-item nav-link" href="https://m.blog.naver.com/mohw2016/222552369172" target="_blank">보건복지부 블로그 링크</a>
            </div>
        </div>
    </nav>
    <main class="flex-shrink-0">
        <div class="container" style="text-align:center">
            <img src="https://cdn.pixabay.com/photo/2017/08/03/21/48/drinks-2578446_960_720.jpg" style="max-width: 50% ; height: auto">
            <h3>
                <br>현재 상황 별 코로나 모임인원 변동이 이루어지는 것과, <br>
                모임 장소 카테고리별 추가적인 유의사항을 간단하게 알려주는 정보 페이지 입니다. <br><br><br>
                만든 팀: su-enginner / 팀원 : 강신우 민경택 이동현 허훈
            </h3>
        </div>
    </main>
    <script src="../static/js/bootstrap.js"></script>
</body>